body {
  background: #36393E;
  position: relative;
  margin: 0;
  padding: 0;
  color: white;
  font-family: Roboto, sans-serif;
}

.example {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroller {
  overflow-y: auto;
}

.row {
  display: flex;
}

.row > * {
  margin: 0px 24px;
}

.centered {
  justify-content: center;
}

.forms-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.forms-form > * {
  margin: 16px 0 0;
}
