.container {
  width: 100%;
  height: 100%;

  >* {
    margin: 20px 0;
  }
}

.row {
  display: flex;

  >* {
    margin: 0px 24px;
  }

  &.centered {
    justify-content: center;
  }
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  >* {
    margin: 16px 0 0;
  }
}

h2 {
  text-align: center;
}

.example {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
}
